.page-title {
    margin-bottom: 5rem;
}

.post-list {
    padding: 0;
    list-style: none;
}

.post-item {
    margin-bottom: 3rem;
}

@scope (.navbar) {
    :scope {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        display: flex;
        gap: 2rem;
    }
}
