.wrapper-site {
    margin-inline: auto;
    width: min(90rem, 90%);
}

.page-title {
    margin-bottom: 5rem;
}

.post-list {
    padding: 0;
    list-style: none;
}

.post-item {
    margin-bottom: 3rem;
}

@scope (.navbar) {
    :scope {
        display: flex;
        justify-content: flex-end;
        padding-inline: 4rem;
    }

    ul {
        display: flex;
        gap: 2rem;
    }

    a {
        text-decoration: none;
    }

    a.active {
        text-decoration: underline;
    }
}
